DB_URL=jdbc:mysql://<host>/<database>
DB_USERNAME=<db_username>
DB_PASSWORD=<db_password>

AWS_ACCESS_KEY=<aws_access_key>
AWS_SECRET_KEY=<aws_secret_key>
AWS_S3_BUCKET=<s3_bucket_name>
AWS_REGION=ap-northeast-2

JWT_SECRET_KEY=<random_long_secret_key>
